# DS Lab Solutions

In [1]:
import pandas as pd

### Read the "ucla_admissions.csv " data into a dataframe

In [2]:
df = pd.read_csv("ucla_admissions.csv")

### Preview the first 10 rows of the data

In [ ]:
df.head(10)

### What is the highest GRE score?

In [ ]:
df["gre"].max()

### What is the lowest GPA?

In [ ]:
df["gpa"].min()

### What GPA is at the 50th percentile?

In [ ]:
df["gpa"].median()

In [3]:
df.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

### What percentage of applicants was admitted?

In [4]:
df.admit.mean()

0.3175

In [5]:
admitted = df.loc[df["admit"] == 1, "admit"].count()
total_applied = df["admit"].count()
admitted/total_applied

0.3175

### Engineer a new feature called "power" that multiply the individual's "gpa" by the class "rank"

In [6]:
df["power"] = df["gpa"]/df["rank"]

In [7]:
df.head()

   admit  gre   gpa  rank     power
0      0  380  3.61     3  1.203333
1      1  660  3.67     3  1.223333
2      1  800  4.00     1  4.000000
3      1  640  3.19     4  0.797500
4      0  520  2.93     4  0.732500

### Put all of the feature values into X for predicting who will get admitted

In [8]:

X = df.iloc[:, 1:].values

### Put the target values into y

In [9]:
y = df.iloc[:, 0].values

### Split data into train and test sets

In [10]:
# split dataset into test/train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.3)

### Create a Logistic Regression model and test the accuracy of predicting who will get accepted into UCLA

In [11]:
# binary classifier
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
log_reg.score(X_test, y_test)

C:\Users\r560847\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7583333333333333

# Bonus

### One-hot encode the class "rank" feature

In [ ]:
df = pd.get_dummies(df, columns=["rank"])
df.head()

In [ ]:
df.head()

### Predict class rank_4 from the other features using a Support Vector Machine model.

In [ ]:
X = df.iloc[:, :-1].values

In [ ]:
y = df.iloc[:, -1].values

In [ ]:
# split dataset into test/train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.3)

In [ ]:
from sklearn.svm import SVC
svm = SVC(kernel='linear')
svm.fit(X_train, y_train)
svm.score(X_test, y_test)