# Python Introduction

### *Numbers (Integers, Floats)*

In [1]:
3+2

5

In [2]:
3*2

6

In [3]:
3/2

1.5

In [4]:
3//2

1

In [5]:
14%3

2

In [6]:
3**2

9

### Variables

In [7]:
a = 3
b = 2
a + b

5

In [8]:
a+a

6

In [9]:
a = a+a
a

6

### Strings

In [10]:
"Is it wonderful?"

'Is it wonderful?'

In [11]:
'Is it wonderful?'

'Is it wonderful?'

In [12]:
"Isn't it wonderful!"

"Isn't it wonderful!"

### Print()

In [13]:
print("printed")

printed

In [15]:
# print formating
name = "Sam"
grade = 81
print("{} scored a grade of {} on the test.".format(name, grade))

81 scored a grade of Sam on the test.

In [16]:
# f-string
print(f"{name} scored a grade of {grade} on the test.")

Sam scored a grade of 81 on the test.

### Lists

In [17]:
# create a list using square brackets

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [18]:
L = [1, 'two', 3, 4, 5]
L

[1, 'two', 3, 4, 5]

In [19]:
# access list items using index notation. The first item is at index position 0.

# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

1

In [20]:
L[1] = 2
L

[1, 2, 3, 4, 5]

In [24]:
L2 = [55, 21, 34, 12, 8, 9]
L2.sort()    # sorts the list in place
#sorted(L)  # returns a new sorted list

In [25]:
L2

[8, 9, 12, 21, 34, 55]

In [26]:
[96, 97] + [98, 99]

[96, 97, 98, 99]

In [27]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

### List slicing

In [28]:
L3 = [1,2,3,4,5]
L3[0:3]

[1, 2, 3]

In [29]:
L3[3:]

[4, 5]

In [31]:
# use negatives to count from the end of the list
L3[-3]      # returns the last item

3

In [32]:
# A second : can be used to indicate step-size. list[start:stop:stepsize]

L3[::-1]     # returns a reversed copy of the list

[5, 4, 3, 2, 1]

### Dictionaries

In [38]:
d = {"key1": "Tim Mays", "key2": ["soccer", "2018"]}

In [39]:
d["key1"]

'Tim Mays'

In [40]:
d["key2"][1][2]

'1'

In [41]:
d["key3"] = "Olympics"
d

{'key1': 'Tim Mays', 'key2': ['soccer', '2018'], 'key3': 'Olympics'}

### Tuples

In [42]:
tup = (1,2,3,4,5,6)

In [43]:
tup[:2]

(1, 2)

In [44]:
tup[0] = 'new'     # immutable, will get an error

TypeError: 'tuple' object does not support item assignment

In [45]:
num1, num2, num3 = (5,11,15)   # unpacking, assign multiple values at once
print(num2)

11

### Sets

In [46]:
{1,2,3,1,2,3, None, None}

{1, 2, 3, None}

In [47]:
a_set = set([5,10,15,10,5])
a_set

{5, 10, 15}

### Booleans

In [48]:
True

True

In [49]:
False

False

In [50]:
int(True)

1

In [51]:
int(False)

0

### Boolean Operators
and, or, not

In [52]:
True and True

True

In [53]:
True and False

False

In [ ]:
True or False

In [54]:
not False

True

### Comparison Operators

In [55]:
1 < 2

True

In [56]:
1 > 2

False

In [57]:
1 <= 2

True

In [58]:
1 >= 2

False

In [59]:
1 == 2

False

In [60]:
1 != 2

True

In [61]:
"string" == "string"

True

In [62]:
"string" == 'spring'

False

In [63]:
"Karen" in ["Bill", "Sarah", "Karen"]

True

In [64]:
(1 < 2) and (2 < 3)

True

In [65]:
(1 > 2) or (2 < 3)

True

### if, elif, else Statements

In [ ]:
'''

if <condition>:
    block of code
--> blocks begin and end with indentation, traditionally 4 spaces

    if <condition>:
        block of code
        can be another if statement

if <condition>:
    block of code
'''

In [66]:
if True: 
    print("True")

True

In [67]:
if 1: 
    print("True")

True

In [68]:
if 0: 
    print("True")

In [ ]:
'''

if <condition>:
    block of code
elif <condition):
    block of code

'''

In [ ]:
age = 25

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age < 21:
    print("No drinking for you!")

In [ ]:
'''

if <condition>:
    block of code
else:
    block of code

'''

In [69]:
age = 25

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age < 21:
    print("No drinking for you!")
else:
    print("You're good to go!")

You're good to go!

In [70]:
if 0: 
    print("True")
else:
    print("False")

False

In [71]:
if 100: 
    print("Really True!")
else:
    print("False")

Really True!

In [72]:
# any non-zero number evaluates to True

if -3.1415:
    print("negative Pi is True!")
else:
    print("False")

negative Pi is True!

In [73]:
if (5<2) or not(5>2):
    print("Yes!")
elif 5%2 == 2:
    print("Maybe")
else:
    print("No!")

No!