# Python Introduction

### *Numbers (Integers, Floats)*

In [ ]:
3+2

In [ ]:
3*2

In [1]:
3/2

1.5

In [2]:
3//2

1

In [3]:
14%3

2

In [4]:
3**2

9

### Variables

In [5]:
a = 3
b = 2
a + b

5

In [6]:
a+a

6

In [7]:
a = a+a
a

6

### Strings

In [ ]:
"Is it wonderful?"

In [ ]:
'Is it wonderful?'

In [ ]:
"Isn't it wonderful!"

In [8]:
# access string characters using index notation. The first character is at index position 0.
s = "string"
s[0]

's'

In [ ]:
 #s[5] = 'e'    # string is immutable, can't change it

### Print()

In [9]:
print("printed")

printed

In [10]:
"printed"

'printed'

In [12]:
# print formating
name = "Sam"
grade = 81
print("{1} scored a grade of {0} on the test.".format(name, grade))

81 scored a grade of Sam on the test.

### Lists

In [13]:
# create a list using square brackets

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [14]:
L = [1, 'two', 3, 4, 5]
L

[1, 'two', 3, 4, 5]

In [15]:
# access list items using index notation. The first item is at index position 0.

# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

1

In [16]:
L[1] = 2
L

[1, 2, 3, 4, 5]

In [17]:
[96, 97] + [98, 99]

[96, 97, 98, 99]

In [18]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

### List slicing

In [19]:

L3 = [1,2,3,4,5]
L3[0:3]

[1, 2, 3]

In [20]:
L3[3:]

[4, 5]

In [21]:
# use negatives to count from the end of the list
L3[-1]      # returns the last item

5

In [22]:
# A second : can be used to indicate step-size. array[start:stop:stepsize]

L3[::-1]     # returns a reversed copy of the list

[5, 4, 3, 2, 1]

### Dictionaries

In [23]:
d = {"key1": "Tim Mays", "key2": ["soccer", "2018"]}

In [24]:
d["key1"]

'Tim Mays'

In [25]:
d["key2"][1][2]

'1'

In [26]:
d["key3"] = "Olympics"
d

{'key1': 'Tim Mays', 'key2': ['soccer', '2018'], 'key3': 'Olympics'}

### Tuples

In [ ]:
tup = (1,2,3)
tup

In [ ]:
tup[:2]

In [ ]:
tup[0] = 'new'     # immutable, will get an error

In [27]:
num1, num2, num3 = (5,10,15)   # unpacking, assign multiple values at once
print(num2)

10

### Sets

In [28]:
{1,2,3,1,2,3, None, None}

{1, 2, 3, None}

In [29]:
a_set = set([5,10,15,10,5])
a_set

{5, 10, 15}

### Booleans

In [30]:
True

True

In [31]:
False

False

In [32]:
int(True)

1

In [33]:
int(False)

0

In [34]:
True and True

True

In [35]:
True and False

False

In [36]:
True or False

True

### Comparison Operators

In [37]:
1 < 2

True

In [38]:
1 > 2

False

In [39]:
1 == 2

False

In [40]:
1 != 2

True

In [41]:
1 >= 1

True

In [42]:
"string" == "string"

True

In [43]:
"string" == 'spring'

False

In [44]:
"Karen" in ["Bill", "Sarah", "Karen"]

True

In [45]:
(1 < 2) and (2 < 3)

True

In [46]:
(1 > 2) or (2 < 3)

True

### if, elif, else Statements

In [47]:
if True: 
    print("True")

True

In [48]:
if 1: 
    print("True")

True

In [49]:
if 0: 
    print("True")
else:
    print("False")

False

In [50]:
if 100: 
    print("Really True!")
else:
    print("Really False")

Really True!

In [51]:
if -100.63: 
    print("Really True!")
else:
    print("Really False")

Really True!

In [ ]:
city = "Palo Alto"

if city == "Los Angeles":
    print("Yes!")

In [52]:
if 100 in [97, 98, 99]:
    print("Yes!")
elif "Dave" == "David":
    print("Maybe")
else:
    print("No!")

No!