In [1]:
import numpy as np
import pandas as pd

# Data Exploration

### Descriptive and summary statistics

In [33]:
ucla_admit_df = pd.read_csv("ucla_admit.csv")

In [34]:
ucla_admit_df.head(15)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,GPA,Research,Admitted
0,1,337,118,4,4.5,4.5,3.89,1,Yes
1,2,324,107,4,4.0,4.5,3.58,1,Yes
2,3,316,104,3,3.0,3.5,3.23,1,No
3,4,322,110,3,3.5,2.5,3.50,1,Yes
4,5,314,103,2,2.0,3.0,3.31,0,No
5,6,330,115,5,4.5,3.0,3.77,1,Yes
6,7,321,109,3,3.0,4.0,3.31,1,Yes
7,8,308,101,2,3.0,4.0,3.19,0,No
8,9,302,102,1,2.0,1.5,3.23,0,No
9,10,323,108,3,3.5,3.0,3.47,0,No
10,11,325,106,3,3.5,4.0,3.39,1,No
11,12,327,111,4,4.0,4.5,3.63,1,Yes
12,13,328,112,4,4.0,4.5,3.67,1,Yes
13,14,307,109,3,4.0,3.0,3.23,1,No
14,15,311,104,3,3.5,2.0,3.31,1,No

In [35]:
ucla_admit_df.shape

(400, 9)

In [ ]:
# drop features

# drop returns a copy
ucla_admit_df = ucla_admit_df.drop("Serial No.", axis=1, inplacer=True)

ucla_admit_df.head()

In [42]:
ucla_admit_df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,GPA,Research
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,3.467325,0.547500
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.240524,0.498362
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,2.740000,0.000000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,3.290000,0.000000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,3.475000,1.000000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,3.652500,1.000000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,4.000000,1.000000

### Boolean Selection

In [52]:
# use count() to get the quantity of items in a Series/column
ucla_admit_df.loc[ucla_admit_df["GRE Score"] < 308, "GRE Score"].count()

90

In [55]:
# And (&)
# GRE less than the 25th percentile
ucla_admit_df.loc[(ucla_admit_df["GRE Score"] < 308) & (ucla_admit_df["Admitted"]=="Yes"), "GRE Score"].count()

GRE Score    3
GPA          3
dtype: int64

In [56]:
# GRE above the 75th percentile and GPA below the 50th percentile
ucla_admit_df.loc[(ucla_admit_df["GRE Score"] >325) & (ucla_admit_df["GPA"]<3.47), "GRE Score"].count()

4

In [57]:
# use value_counts() to break out the total count by category
ucla_admit_df.loc[(ucla_admit_df["GRE Score"] >325) & (ucla_admit_df["GPA"]<3.47), "Admitted"].value_counts()

Yes    3
No     1
Name: Admitted, dtype: int64

In [59]:
ucla_admit_df.loc[ucla_admit_df["Admitted"] == "Yes", ["GRE Score", "GPA"]].min()

GRE Score    303.00
GPA            3.23
dtype: float64

In [62]:
# Or (|)
ucla_admit_df.loc[(ucla_admit_df["GRE Score"] == 340) & (ucla_admit_df["GPA"]==4.0),"Admitted"].value_counts()

Yes    2
Name: Admitted, dtype: int64

In [61]:

ucla_admit_df.loc[(ucla_admit_df["SOP"] == 5) | (ucla_admit_df["LOR "]==5),"Admitted"].value_counts()

Yes    51
No      3
Name: Admitted, dtype: int64

## Archive cleaned and transformed DataFrame

In [ ]:
# to save your cleaned data to file
df.to_csv("new_filename.csv")