# Pandas Exercises

In [2]:
import pandas as pd

### Use the code below to get the data to use for the following problems.
The dataset contains the Top 25 Baby Names in the United States from 2005-2016.

In [7]:
baby_names_df = pd.read_csv("top25babynames_by_sex_05-16.csv")

### Display the first 10 rows

In [8]:
baby_names_df.head()

   YEAR  Gender  RANK      Name  Count
0  2005  Female     1     EMILY   3268
1  2005  Female     2    ASHLEY   2770
2  2005  Female     3  SAMANTHA   2483
3  2005  Female     4  ISABELLA   2333
4  2005  Female     5       MIA   2172

### Display the unique names that were ever in the top 25 over this span.

### How many times was a given name chosen for babies more than 3000 times in a year?

### Which unique names were given to more than 3500 babies in a given year?

### What were the most popular male and female names in 2016?

### Which female name was ranked number 1 most often over this span?