# Pandas Exercises - Solutions

In [2]:
import pandas as pd

### Use the code below to get the data to use for the following problems.
The dataset contains the Top 25 Baby Names in the United States from 2005-2016.

In [3]:
baby_names_df = pd.read_csv("top25babynames_by_sex_05-16.csv")

### Display the first 10 rows

In [ ]:
baby_names_df.head(10)

### Display the unique names that were ever in the top 25 over this span.

In [ ]:
baby_names_df["Name"].unique()

In [ ]:
baby_names_df.columns

### How many times was a given name chosen for babies more than 3000 times in a year?

In [ ]:
baby_names_df.loc[(baby_names_df["Count"]>3000), 'Name'].count()

### Which unique names were given to more than 3500 babies in a given year?

In [ ]:
baby_names_df.loc[baby_names_df["Count"]>3500, "Name"].unique()

### What were the most popular male and female names in 2016?

In [ ]:
baby_names_df.loc[(baby_names_df["RANK"]==1) & (baby_names_df["YEAR"] == 2016), ['Name', 'Gender']]

### Which female name was ranked number 1 most often over this span?

In [7]:
baby_names_df.loc[(baby_names_df["Gender"] == "Female") & (baby_names_df["RANK"]==1), 'Name'].value_counts()#.index[0]

SOPHIA      5
EMILY       4
ISABELLA    2
MIA         1
Name: Name, dtype: int64