# Python Introduction

### *Numbers (Integers, Floats)*

In [ ]:
3+2

In [ ]:
3*2

In [1]:
3/2

1.5

In [2]:
3//2

1

In [3]:
14%3

2

In [4]:
3**2

9

### Variables

In [5]:
a = 3
b = 2
a + b

5

In [6]:
a+a

6

In [7]:
a = a+a
a

6

### Strings

In [8]:
"Is it wonderful?"

'Is it wonderful?'

In [9]:
'Is it wonderful?'

'Is it wonderful?'

In [10]:
"Isn't it wonderful!"

"Isn't it wonderful!"

In [11]:
s = "string"
s

'string'

In [12]:
s[0]

's'

In [13]:
s[3]

'i'

### Print()

In [14]:
print("printed")

printed

In [15]:
"printed"

'printed'

In [16]:
name = "Sam"
grade = 81
print(name, "scored a grade of", grade, "on the test.")

Sam scored a grade of 81 on the test.

In [18]:
# print formating
name = "Sam"
grade = 81
print("{1} scored a grade of {0} on the test.".format(name, grade))

81 scored a grade of Sam on the test.

### Lists

In [19]:
# create a list using square brackets

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [20]:
L = [1, 'two', 3, 4, 5]
L

[1, 'two', 3, 4, 5]

In [21]:
# access list items using index notation. The first item is at index position 0.

# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

1

In [22]:
L[1] = 2
L

[1, 2, 3, 4, 5]

In [26]:
L2 = [55, 21, 34, 12, 8, 9]
L2.sort()    # sorts the list in place
#sorted(L2)    # returns a new sorted list

In [27]:
L2

[8, 9, 12, 21, 34, 55]

In [28]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

### List slicing

In [29]:
L3 = [1,2,3,4,5]
L3[0:3]

[1, 2, 3]

In [30]:
L3[3:]

[4, 5]

In [31]:
# use negatives to count from the end of the list
L3[-1]      # returns the last item

5

In [32]:
# A second : can be used to indicate step-size. array[start:stop:stepsize]

L3[::-1]     # returns a reversed copy of the list

[5, 4, 3, 2, 1]

### Tuples

In [33]:
tup = (1,2,3)
tup

(1, 2, 3)

In [34]:
tup[:2]

(1, 2)

In [ ]:
tup[0] = 'new'     # immutable

In [35]:
num1, num2, num3 = (5,11,15)   # unpacking, assign multiple values at once
print(num2)
#(a,b), (c,d) = (1,2), (3,4)

11

### Comparison Operators

In [ ]:
1 < 2

In [ ]:
1 > 2

In [ ]:
1 <= 2

In [ ]:
1 >= 2

In [ ]:
1 == 2

In [ ]:
1 != 2

In [ ]:
"string" == "string"

In [ ]:
"string" == 'spring'

### if, elif, else Statements

In [ ]:
if True:
    print("True")

In [ ]:
if False: 
    print("True")
else:
    print("False")

In [ ]:
city = "Palo Alto"

if city == "Palo Alto":
    print("Yes!")

### for Loops

In [ ]:
L = [19, 21, 23, 25]
for item in L:
    print("Welcome!")

In [ ]:
for age in L:
    print(age)

In [36]:
list(range(0, 26))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [37]:
for i in range(0, 26, 5):
    print(i)

0
5
10
15
20
25