# Pandas Exercise Solutions

In [1]:
import pandas as pd

### Use the code below to get the data to use for the following problems.
The dataset contains Neflix Original Series shows from 2013-2017.

In [2]:
df = pd.read_csv("Netflix_Original_Series_2013_2017.csv")

### 1.)  Which Netflix Original Series was the highest rated on IMdb?

In [3]:
df.loc[df['IMDB_Rating'] == df['IMDB_Rating'].max(), "Title"]

78    StoryBots Super Songs
Name: Title, dtype: object

### 2.)  How many of the shows had been renewed?

In [4]:
df.loc[df["Status"]=="Renewed", "Status"].count()

37

### 3.)  Of the shows that have ended, which produced the most episodes?

In [5]:
df.loc[(df["Status"]=="Ended") & (df["Episodes"] == (df.loc[df["Status"] == "Ended", "Episodes"].max())),\
       ["Title", "Episodes"]]

                       Title  Episodes
59                Turbo FAST        52
60  VeggieTales in the House        52
61      All Hail King Julien        52

### 4.)  Were there more comedy or drama Netflix Original shows?

In [6]:
df.loc[df["Major_Genre"].isin(["Comedy", "Drama"]), "Major_Genre"].value_counts()

Comedy    25
Drama     18
Name: Major_Genre, dtype: int64

### 5.)  Which subgenre had the most shows with a rating of 90 or better?

In [7]:
df.loc[df['IMDB_Rating'] > 89, "Subgenre"].value_counts()

Animation                 2
Science fiction/horror    1
Political drama           1
Name: Subgenre, dtype: int64

### 6.)  What was the name and rating of the top-rated drama?

In [8]:
df.loc[(df["Major_Genre"] == "Drama") & (df["IMDB_Rating"] == (df.loc[df["Major_Genre"] == "Drama", "IMDB_Rating"].max())), ["Title", "IMDB_Rating"]]

              Title  IMDB_Rating
40   House of Cards           90
49  Stranger Things           90